{% extends 'app\base.html' %}
{% load static %}
{% block content %}
<p>I am a Family oriented person. I love to bond with them.</p>
                <div class="pic">
                    <div class="gab">
                      <img src="{% static 'images/family.jpg' %}"  style="width:80%">
                    </div>
                    <div class="gab">
                      <img src="{% static 'images/familyy.jpg' %}" style="width:80%">
                    </div>
                    <div class="gab">
                      <img src="{% static 'images/familyyy.jpg' %}"  style="width:80%">
                    </div>
                  </div>

                  <p>I am in a happy and healthy relationship with my boyfriend named Denniel. He has a genuine and
loving personality.</p>
                  <div class="pic">
                      <div class="gab">
                        <img src="{% static 'images/den.jpeg' %}"  style="width:80%">
                      </div>
                      <div class="gab">
                        <img src="{% static 'images/denn.jpeg' %}" style="width:80%">
                      </div>
                      <div class="gab">
                        <img src="{% static 'images/dennn.jpeg' %}"  style="width:80%">
                      </div>
                    </div>

                    <p>I am addicted to Harry Potter movies. it is my comfort movie,
I love the fantasy story that makes me want to live in that life</p>
                    <div class="pic">
                        <div class="gab">
                          <img src="{% static 'images/hp.jpg' %}"  style="width:95%">
                        </div>
                        <div class="gab">
                          <img src="{% static 'images/hhp.jpg' %}" style="width:80%">
                        </div>
                        <div class="gab">
                          <img src="{% static 'images/hhhp.jpg' %}"  style="width:80%">
                        </div>
                      </div>

                      <p>I am a member of a choir in our church, I love to sing with my cousins.</p>
                      <div class="pic">
                          <div class="gab">
                            <img src="{% static 'images/sing.jpg' %}"  style="width:60%">
                          </div>
                          <div class="gab">
                            <img src="{% static 'images/singg.jpg' %}" style="width:70%">
                          </div>
                          <div class="gab">
                            <img src="{% static 'images/singgg.jpg' %}"  style="width:80%">
                          </div>
                        </div>
{% endblock content %}