{% extends 'app\base.html' %}
{% load static %}
{% block content %}
<div class="row">
                    <div class="column">
                        <h3> Louise Gabrielle D Quioyo</h3>
                         <img src="{% static 'images/me.jpeg' %}" >
                    </div>
                    <div class="column">
                        <p>21-year-old CvSU Bacoor student enrolled in a BSIT course in their third year of college.
                            My personality is welcoming, and I take enjoyment in socializing with others in the area. I hate being in front of
                            groups of people and public speaking because I worry that I could say or do something incorrectly. I also dislike
                            having people stare at me since it makes me anxious. I love to tell people that I admire their efforts and
                            accomplishments in life since I am a genuine and compassionate person. I love to plan dates with my friends,
                            but I always regret going since I dislike being outside in bad weather or because I'm too lazy to get ready.
                            I'm also easily tired and like to sleep all day.</p>


                    </div>
                </div>
{% endblock content %}